<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>Charity Registration Web Application</display-name>
	
	<!-- 
	<context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>CharityAddressBook-messages</param-value>
    </context-param>
    
    1. CharityAddressBook-messages_[language]_[region].properties
	     2. CharityAddressBook-messages_[language].properties 
	     3. Fall back to default 
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

    <servlet>
        <servlet-name>clusterNodeA</servlet-name>
        <servlet-class>com.nicordesigns.site.servlets.ClusterNodeServlet</servlet-class>
        <init-param>
            <param-name>nodeId</param-name>
            <param-value>A</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>clusterNodeA</servlet-name>
        <url-pattern>/clusterNodeA</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clusterNodeB</servlet-name>
        <servlet-class>com.nicordesigns.site.servlets.ClusterNodeServlet</servlet-class>
        <init-param>
            <param-name>nodeId</param-name>
            <param-value>B</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>clusterNodeB</servlet-name>
        <url-pattern>/clusterNodeB</url-pattern>
    </servlet-mapping>
    
     -->

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>*.jspf</url-pattern>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<include-prelude>/WEB-INF/jsp/base.jspf</include-prelude>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
			<default-content-type>text/html</default-content-type>
		</jsp-property-group>
	</jsp-config>

	<!-- Part 1 Session Configuration -->
	<session-config>
		<session-timeout>30</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	
	<!-- Enable Clustering -->
	<!--  
	<distributable/>
	-->
	
	<!-- Filter Ordering -->
	<!--  
	<filter>
        <filter-name>filterA</filter-name>
        <filter-class>com.nicordesigns.site.filters.FilterA</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>filterA</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>filterB</filter-name>
        <filter-class>com.nicordesigns.site.filters.FilterB</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>filterB</filter-name>
        <url-pattern>/servletTwo</url-pattern>
        <url-pattern>/servletThree</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>filterC</filter-name>
        <filter-class>com.nicordesigns.site.filters.FilterC</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>filterC</filter-name>
        <url-pattern>/servletTwo</url-pattern>
    </filter-mapping>
    -->
    
    
</web-app>
